* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .search-box {
    background: rgba(57, 172, 211, 0.8);
    width: 400px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0 auto 7px;
    height: auto;
    cursor: pointer;

  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2em;
    align-items: center;
  }

  input {
    height: 35px;
    border-radius: 15px;
    width: 80%;
    padding-left: 23px;
    border: none;
    font-size: 1rem;
  }

  button {
    height: 35px;
    border-radius: 15px;
    width: 80%;
    margin-top: 10px;
    color: black;
    border: none;
    font-size: 1rem;
    background-color: rgb(227, 180, 50);
    transition: width .05s, transform .5s;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(246, 186, 0);
    transform: scale(1.05);
  }

  .current-weather {
    background: rgba(57, 172, 211, 0.8);
    width: 400px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0 auto 7px;
    padding: 20px 30px  12px;
    font-size: 0.9rem;
    color: white;
    transition: width 1s, transform 1s;
    cursor: pointer;
  }

  .current-weather:hover {
    transform: scale(1.3);
  }

  .info {
    display: flex;
    flex-direction: row;
  }
  
  .right {
    margin-left: 140px;
    margin-top: 10px;
  }

   .right p {
    margin-bottom: 8px;
    font-size: 1rem;
   }

  .left {
    margin-top: 10px;
  }

  .left p {
    margin-bottom: 8px;
    font-size: 1rem;
   }

  .header {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
  }
  
  .right-header {
    margin-left: 80px;
    margin-top: 1px;
  
  }
  
  .temp {
    font-size: 2.5rem;
    margin-top: 8px;
  }
  
  .feelsLike {
    font-size: .9rem;
    margin-top: -5px;
  }
  
  .weather {
    font-size: .75rem;
    margin-top: -30px;
    margin-left: 15px;
  }
  
  .weather-image {
    width: 85px;
    margin-top: -10px;
  }
  
  h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }

  .forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(163, 194, 205, 0.75);
    width: 400px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0 auto 7px;
    padding: 0 10px;
    color: white;
    transition: width 1s, transform 1s;
    cursor: pointer;
  }

  .forecast:hover {
    transform: scale(1.5);
  }
  
  .forecast-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .forecast-image {
    width: 110%;
  }

  .weekDay {
    font-size: 12px;
    margin-top: 12px;
  }

  .forecast-temp {
    display: flex;
    flex-direction: row;
    font-size: 0.73rem;
    margin-bottom: 12px;
    margin-top: 5px;
  }

  .ft-left {
    margin-right: 5px;
  }

  .ft-right {
    margin-left: 5px;
  }

  h4 {
    font-size: 1.3rem;
    text-align: center;
  }

  h5 {
    font-size: 0.8rem;
    text-align: center;
  }

  .hourly {
    background: rgba(57, 172, 211, 0.8);
    width: 400px;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0 auto 7px;
    padding: 20px 20px 20px 20px;
    font-size: 0.9rem;
    color: white;
    transition: transform 1s;
    cursor: pointer;
  }
  
  .hourly:hover {
    transform: scale(1.3);
  }

 .hourly-inner {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
 }

  .htime {
    align-self: center;
    font-size: 1.2rem;
  }

  .htemp {
    align-self: center;
    font-size: 1.2rem;
    
  }

  .hwind {
    align-self: center;
    font-size: 1.2rem;
    
  }

  .hwdir {
    align-self: center;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 825px) {
    
  button {
    transition: none;
  }

  button:hover {
    transform: none;
  }

  .current-weather {
    transition: none;
  }

  .current-weather:hover {
    transform: none;
  }

  .forecast {
    transition: none
  }

  .forecast:hover {
    transform: none;
  }

  .hourly {
    transition: none;
  }
  
  .hourly:hover {
    transform: none;
  }
}

@media screen and (max-width: 600px) {

  h1 {
    font-size: 1.7rem;
    margin-bottom: -5px;
    margin-top: -15px;
  }
  
  .search-box {
    width: 300px;
    margin: 0 auto 5px;
    padding: 5px 0px;
  }
  
  .search-form {
    padding: .5em;
  }

  input {
    height: 25px;
    width: 80%;
    font-size: .8rem;
  }

  button {
    height: 25px;
    width: 80%;
    margin-top: 8px;
    font-size: .9rem;
  }

  .current-weather {
    width: 300px;
    margin: 0 auto 5px;
    padding: 10px 20px 10px;
  }
  
  .right {
    margin-left: 110px;
  
  }

   .right p {
    margin-bottom: 3px;
    font-size: 0.8rem;
   }

  .left {
    margin-top: 10px;
  }

  .left p {
    margin-bottom: 3px;
    font-size: 0.8rem;
   }

  .header {
    margin-top: -5px;
    margin-left: 20px;
  }
  
  .right-header {
    margin-left: 50px;
    margin-top: 1px;
  }
  
  .temp {
    font-size: 2rem;
    margin-top: 8px;
  }
  
  .feelsLike {
    font-size: .7rem;
    margin-top: -5px;
  }
  
  .info {
   margin-top: -15px;
  }
  
  .weather-image {
    width: 80px;
    margin-top: -px;
  }
  
  h3 {
    font-size: 1.3rem;
  }

  .forecast {
    width: 300px;
    margin: 0 auto 5px;
    padding: 0 5px;
  }

  .forecast-image {
    width: 80%;
  }

  .weekDay {
    font-size: 10px;
    margin-top: 10px;
  }

  .forecast-temp {
    font-size: 0.75rem;
    margin-bottom: 7px;
    margin-top: 2px;
  }

  .ft-left {
    margin-right: 3px;
  }

  .ft-right {
    margin-left: 3px;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 0.7rem;
  }

  .hourly {   
    width: 300px;
    margin: 0 auto 5px;
    padding: 10px 10px 10px 10px;
  }

  .htime {
    font-size: 0.8rem;
  }

  .htemp {
    font-size: 0.8rem;
  }

  .hwind {
    font-size: 0.8rem;
  }

  .hwdir {
    font-size: 0.8rem;
  }
  
  .hi {
    width: 70%;
  }

  .hourly-inner {
    grid-template-columns: auto 30px auto auto auto;
 }
}
